/* Selectors Pt. 2 👪 */
/* Codédex */

ul, ol {
  border: 1px solid;
  width: 200px;
}

ul {
  background-color: lightgreen;
}

ol {
  background-color: skyblue;
  color: white;
}

ul > li {
  text-decoration: underline wavy 3px brown;

  /* For Safari */
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: brown;
  text-decoration-thickness: 3px;
}

ol > li {
  text-decoration: underline dotted 3px indigo;

  /* For Safari */
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: indigo;
  text-decoration-thickness: 3px;
}
