* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif
}

img, .gallery-item > p {
  width: 500px;
}

hr {
  border: 2px solid;
}

#gallery-header {
  padding-bottom: 6px;
  width: 80%;
  margin: auto;
  text-align: left;
}

#gallery-header > h1 {
  padding-bottom: 6px;
  margin-left: 0;
}

#gallery-header > p {
  color: #5e96ff;
  font-weight: 800;
}

/* Add code here */
