* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
  }
  
  img, .gallery-item > p {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  
  hr {
    border: 0px solid;
  }
  
  h1 {
    position: fixed;
    z-index: 10;
  }
  
  #gallery-header > p {
    font-weight: 800;
    display: inline; 
  }
  
  /* Add code here */
  
  #gallery-container {
    display: inline-block; 
    position: absolute; 
    top: 10px;
    left: 50px;
    z-index: 10;
  }
  
  #item-1 {
    position: fixed;
    top: 50%;
    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  
  p {
    text-align: center;
    position: fixed;
    z-index: 10;
    top: 5%;
    left: 10%;
    display: inline-block; 
  }
  
  #item-4 {
    position: sticky;
    top: 100px;
  }
  
